/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button,
input,
select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img,
video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
  background-color: hsl(0, 0%, 98%);
}

.main-wrapper {
  margin: 1.875rem;
}

.head-text {
  text-align: center;
}
.head-text__heading {
  padding-bottom: 0.9375rem;
  font-size: 1.5rem;
  font-weight: 200;
  line-height: 2.3125rem;
}
.head-text__bold {
  font-weight: 700;
}
.head-text__info {
  font-size: 0.9375rem;
  color: hsl(229, 6%, 66%);
  line-height: 1.5rem;
  margin-bottom: 4.875rem;
}

.card {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.25rem;
  padding: 0rem 1.875rem;
  background-color: hsl(240, 100%, 100%);
  border-radius: 0.3125rem;
  box-shadow: 0.625rem 0.625rem 0.3125rem 0rem hsla(0, 0%, 0%, 0.05);
}
.card__heading {
  padding-top: 1.4375rem;
  font-size: 1.25rem;
  font-weight: 700;
}
.card__info {
  padding-top: 0.3125rem;
  font-size: 0.8125rem;
  color: hsl(229, 6%, 66%);
  line-height: 1.3125rem;
}
.card__icon {
  align-self: flex-end;
  margin-bottom: 1.5625rem;
  padding-top: 2.1875rem;
  transform: scale(0.9);
}
.card--cyan {
  border-top: 3px solid hsl(180, 62%, 55%);
}
.card--red {
  border-top: 3px solid hsl(0, 78%, 62%);
}
.card--orange {
  border-top: 3px solid hsl(34, 97%, 64%);
}
.card--blue {
  border-top: 3px solid hsl(212, 86%, 64%);
}

@media (min-width: 576px) {
  .main-wrapper {
    margin: 3.125rem;
  }
  .head-text__heading {
    padding-bottom: 1.125rem;
    font-size: 2rem;
    line-height: 3.125rem;
  }
  .head-text__info {
    font-size: 1.25rem;
    line-height: 2rem;
    margin-bottom: 3.75rem;
  }
  .card {
    margin-bottom: 1.875rem;
  }
  .card__heading {
    padding-top: 1.4375rem;
    font-size: 1.625rem;
  }
  .card__info {
    padding-top: 0.3125rem;
    font-size: 1.25rem;
    line-height: 1.875rem;
  }
  .card__icon {
    align-self: flex-end;
    margin-bottom: 1.5625rem;
    padding-top: 2.1875rem;
    transform: scale(1);
  }
}
@media (min-width: 768px) {
  .head-text__heading {
    margin: 0rem 5.625rem;
    font-size: 2.375rem;
    line-height: 3.125rem;
  }
  .head-text__info {
    margin: 0rem 3.75rem 3.75rem 3.75rem;
    font-size: 1.5rem;
    line-height: 2rem;
  }
  .card__heading {
    font-size: 1.75rem;
  }
  .card__info {
    font-size: 1.375rem;
    line-height: 2.1875rem;
  }
  .card__icon {
    align-self: flex-end;
    margin-bottom: 2.1875rem;
    transform: scale(1.1);
  }
}
@media (min-width: 992px) {
  .main-wrapper {
    margin: 0rem;
  }
  .head-text {
    letter-spacing: 0.009375rem;
  }
  .head-text__heading {
    margin: 1.875rem 14.375rem 0rem 14.375rem;
    padding-bottom: 1.25rem;
    font-size: 2.25rem;
  }
  .head-text__info {
    margin: 0rem 12.5rem 2.8125rem 12.5rem;
    font-size: 0.9375rem;
    line-height: 1.5rem;
  }
  .card-wrapper {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-gap: 0.9375rem;
  }
  .card {
    margin-bottom: 0rem;
    padding: 0rem 1.25rem 0rem 1.875rem;
  }
  .card__heading {
    padding-top: 1.25rem;
    font-size: 1.25rem;
    font-weight: 700;
  }
  .card__info {
    padding: 1.25rem 0rem 0rem 0rem;
    font-size: 0.75rem;
    line-height: 1.25rem;
  }
  .card__icon {
    margin: 0rem 0rem 0.9375rem 15.625rem;
    padding-top: 1.25rem;
    transform: scale(1);
  }
  .card--cyan {
    grid-area: 2/2/4/3;
    border-top: 4px solid hsl(180, 62%, 55%);
  }
  .card--red {
    grid-area: 1/3/3/4;
    border-top: 4px solid hsl(0, 78%, 62%);
  }
  .card--orange {
    grid-area: 3/3/5/4;
    border-top: 4px solid hsl(34, 97%, 64%);
  }
  .card--blue {
    grid-area: 2/4/4/5;
    border-top: 4px solid hsl(212, 86%, 64%);
  }
}
@media (min-width: 1200px) {
  .head-text__heading {
    margin: 0rem 18.75rem;
    padding-bottom: 1.125rem;
  }
  .head-text__info {
    margin: 0rem 17.5rem 2.8125rem 17.5rem;
  }
  .card-wrapper {
    grid-gap: 1.875rem;
  }
  .card {
    padding-right: 1.25rem;
    border-radius: 0.3125rem;
  }
  .card__heading {
    padding-top: 1.25rem;
    font-size: 1.25rem;
    font-weight: 700;
  }
  .card__info {
    font-size: 0.8125rem;
    line-height: 1.375rem;
  }
  .card__icon {
    margin-bottom: 2rem;
    padding-top: 2.5rem;
  }
}
@media (min-width: 1440px) {
  .head-text__heading {
    padding-bottom: 1.125rem;
    margin: 5.3125rem 28.125rem 0rem 28.125rem;
  }
  .head-text__info {
    margin: 0rem 28.125rem 4.0625rem 28.125rem;
  }
  .card-wrapper {
    grid-gap: 1.875rem;
  }
  .card__heading {
    padding-top: 1.5625rem;
  }
  .card__info {
    padding: 0.625rem 1.875rem 0rem 0rem;
    line-height: 1.5625rem;
  }
  .card__icon {
    margin-left: 18.125rem;
    padding: 2.1875rem 0.625rem 0rem 0rem;
  }
}/*# sourceMappingURL=main.css.map */